.toggle {
  width: 50px;
  height: 26px;
  margin-bottom: 50px;

  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(5px) translateY(-50%);
  transition: transform 0.3s ease;
}

.toggle.active {
  background-color: green;
}

.toggle.active .slider {
  transform: translateX(25px) translateY(-50%);
}

.form_input {
  display: block;
  margin-bottom: 20px;
}
